@import "tailwindcss";
@import "../styles/buttons.css";

@theme {
  --color-primary: #ff5e00;
  --color-secondary: #8a1e1e;
  --color-success: #2faf36;
  --color-light: #ffffff;
  --color-dark: #202124;
}

:root {
  --background: --var(--color-light);
  --foreground: --var(--color-dark);
}

* {
  box-sizing: border-box;
}
